.items-list-page {
	align-items: center;
    background: url('../../img/northern-lights.jpg');
    background-size: cover;
    background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
    font-family: 'Montserrat', sans-serif;
	justify-content: center;
    min-height: calc(100vh - 125px);
}
.items-list-container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 6px 6px rgba(0,0,0,0.2);
    display: flex;
	flex-direction: column;
    padding: 75px;
}
.items-list-table-container {
    border: 1px solid gray;
    margin: 50px 0px 0px 0px;
}
.items-list-search-bar-container {
    display: flex;
}
.items-list-table-header {
    cursor: pointer;
}
.items-list-image {
    height: 100px;
    width: 100px;
}
.create-item-text-field {
    border: 1px solid !important;
}
.create-item-text-field-text {
    padding: 0px 0px 0px 5px;
}
.edit-item-text-field {
    border: 1px solid !important;
}
.edit-item-text-field-text {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 5px;
    width: 250px;
}
.edit-item-header-wrapper {
    display: flex;
}
.edit-item-row {
    display: flex;
}
.edit-item-text-field-wrapper {
    display: block;
    margin: 0px 100px 0px 0px;
}
.edit-item-error-message {
    color: red;
    margin: 30px 0px 0px 30px;
}
.edit-item-success-message {
    color: green;
    margin: 30px 0px 0px 30px;
}
.delete-item-fail-message {
    color: red;
    margin: 0 auto;
    margin-left: 50px;
    padding: 0;
}
.delete-item-success-message {
    color: green;
    margin: 0 auto;
    margin-left: 50px;
    padding: 0;
}